<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hospital_management">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".doctor_viewAll"/>
        <activity android:name=".doctor_view" />
        <activity android:name=".doctor_edit" />
        <activity android:name=".doctor_add" />
        <activity android:name=".Doctor_Main" />
        <activity android:name=".Activity_Insert_drugs" />
        <activity android:name=".Activity_View_drugs" />
        <activity android:name=".Activity_Update_Remove_drugs" />
        <activity android:name=".Activity_Drug_main" />
        <activity android:name=".staff_add" />
        <activity android:name=".login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".staff_view" />
        <activity android:name=".staff_menu" />
        <activity android:name=".Staff_Update" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>